@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    background-color: $background-color;
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Fraunces', serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }